.head {
  @apply flex  max-h-[82px] max-w-5xl items-center;
  > h1 {
    @apply font-bold text-4xl pl-[50px] py-[20px];
  }
  > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-left: 20px;
    background: url('/svg/location.svg') no-repeat;
    margin-left: 27px;
    cursor: pointer;
    padding-right: 20px;
  }
  .basket {
    @apply p-7 ml-5;
    background: transparent url('/svg/shop.svg') no-repeat center;
  }
  .ava {
    @apply p-7 ml-5 rounded-full;
    background: transparent url('/img/ime.png') no-repeat center;
  }
  .pic {
    @apply flex relative rounded-full pl-5 w-[468px] border-2 py-3 bg-white;
    > input {
      @apply w-[374px] border-0;
    }
    > button {
      @apply rounded-full absolute;
      width: 94px;
      height: 42px;
      right: 4px;
      top: 3px;
      background: url('/svg/search.svg') no-repeat center #f0f4fb;
    }
  }
}

.footer {
  @apply grid grid-cols-3  relative bg-[#F8F8F8] h-[216px] w-[1366];
  > h1 {
    @apply absolute left-[3.66%]
     right-[87.34%] top-[14.88%] bottom-[61.86%] font-bold 
     text-[40.8px] leading-[50px];
  }
  > div {
   @apply flex;
    .social {
      @apply grid;
    }
  }
}
