.head {
  @apply flex  max-h-[82px] max-w-5xl items-center;
  > h1 {
    @apply font-bold text-4xl pl-[50px] py-[20px];
  }
  > p {
    @apply text-sm leading-[140%] pl-5 pr-5 ml-7;
    background: url('/svg/location.svg') no-repeat;
  }
  .basket {
    @apply p-7 ml-5;
    background: transparent url('/svg/shop.svg') no-repeat center;
  }
  .ava {
    @apply p-7 ml-5 rounded-full;
    background: transparent url('/img/ime.png') no-repeat center;
  }
  .pic {
    @apply flex relative rounded-full pl-5 w-[468px] border-2 py-3 bg-white;
    > input {
      @apply w-[374px] border-0 outline-none;
    }
    > button {
      @apply rounded-full absolute w-[94px] h-[42px] right-1 top-[3px];
      background: url('/svg/search.svg') no-repeat center #f0f4fb;
    }
  }
}

.footer {
  @apply grid grid-cols-3 relative bg-[#F8F8F8] h-[216px] w-[1366];
  > h1 {
    @apply absolute left-[3.66%]
     right-[87.34%] top-[14.88%] bottom-[61.86%] font-bold 
     text-[40.8px] leading-[50px];
  }
  .social {
    @apply absolute top-0 right-0  flex;
    > div {
      @apply first:pr-[31px] last:pr-[125px] pt-10;
      > p {
        @apply mb-[10px] leading-[140%] text-[#2D2D2F];
      }
      > span {
        @apply pr-4;
      }
    }
  }
}
